<!-- _includes/footer.html -->
<footer class="site-footer">
  <div class="footer-container">
    <!-- Логотип -->
    <div class="footer-logo">
      <img src="{{ site.logo }}" alt="Логотип {{ site.title }}" width="40" height="40">
    </div>

    <!-- Заголовок и описание -->
    <div class="footer-info">
      <span class="footer-title">{{ site.title }}</span>
      <p class="footer-description">{{ site.description }}</p>
    </div>

    <!-- Копирайт -->
    <div class="footer-copyright">&copy; {{ site.time | date: "%Y" }} {{ site.title }}</div>
  </div>
</footer>
