body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #161616;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Только заголовки по центру */
.gallery h1,
.painting h2 {
  text-align: center;
}

/* Все параграфы и текст — по левому краю */
p, .painting p {
  text-align: left;
}
