/* assets/main.css */
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #f4f4f4;
  color: #161616;
}

main.page-content {
  background-color: #ffffff;
  padding: 2rem 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}
