<!DOCTYPE html>
<html lang="ru">
  {% include head.html %}

  <body>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="site-title">
          <a href="/">{{ site.title }}</a>
        </h1>

        <!-- Меню -->
        <nav class="site-nav">
          {% for item in site.data.menu %}
            <a 
              class="nav-link{% if page.url == item.link %} active{% endif %}" 
              href="{{ item.link }}">{{ item.name }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <main class="page-content" role="main">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
